@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body, div {
    height: 100%;
    font-family: 'Droid Sans', arial;
}

.wrapper {
    margin: auto;
    width: 50%;
    text-align: justify;
    transform: perspective(300px) rotateX(30deg);
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}